# Disable directory browsing
Options All -Indexes

# Turning on the rewrite engine is necessary for the following rules and features.
# FollowSymLinks must be enabled for this to work.
<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	RewriteEngine On

    # Ensure Authorization header is passed along
    # (php5_module automatically handles HTTP_AUTHORIZATION headers, but fcgi_module does not.)
    # (This line is setting the environment variable to the value of user authentication string)
	RewriteCond %{HTTP:Authorization} .
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

	# Redirect Trailing Slashes
    # (if ends with slash but is not a directory, remove the trailing slash)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Use a front controller
    # Check to see if the user is attempting to access a valid file or directory in the public folder,
    # such as an image or css document. If not, send the request to the front controller, index.php
    #
    # NOTE: The caret matches at the beginning without consuming a character. So even the empty string matches ^.
    # Using exactly ^ as the regular expression allows for more performance, since typical regular expressions only
    # compare the beginning of the URL and therefore don't need to look at every character of the URL. Worth adding
    # that ^ or “the beginning of the line” happens to be after the leading slash, i.e. after the hostname and a slash.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php/$1 [L]

</IfModule>

<IfModule !mod_rewrite.c>
	# If we don't have mod_rewrite installed, all 404's
	# can be sent to index.php, and everything works as normal.
	ErrorDocument 404 index.php
</IfModule>

# Disable server signature start
ServerSignature Off
